// Square.vm
// Computes y = x², where x is in argument[0].
// Leaves the result y at the bottom of the stack and stores it in argument[1].

push argument 0  // Push x onto the stack
push argument 0  // Push x onto the stack again
mult             // Compute x * x = x²
pop argument 1   // Store the result in argument[1]
